/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/resources/views/omr_create.blade.php.bak
/resources/views/camera.blade.php.bak
/resources/js/omr_create_scripts.js
/resources/js/camera_scripts.js
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
